@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import "tailwindcss";

@theme {
  --spacing-base-s: 0.5rem;
  --spacing-base: 1rem;
  --spacing-base-l: 1.5rem;
  --radius-base: 12px;
}

@theme inline {
  --color-main: var(--main);
  --color-contrast: var(--contrast);
  --color-text: var(--text);
  --color-text-contrast: var(--text-contrast);
  --color-good: var(--good);
  --color-bad: var(--bad);
}

@layer base {
  :root {
    overflow-x: hidden;
    font-family: "Nunito", sans-serif;
    background-color: var(--main);
    color: var(--text);
  }

  .light {
    --main: #ebebeb;
    --contrast: #070707;
    --text: #000000;
    --text-contrast: #ffffff;
    --good: #40cd40;
    --bad: #da3e3e;
  }

  .dark {
    --main: #070707;
    --contrast: #ebebeb;
    --text: #ffffff;
    --text-contrast: #000000;
    --good: #a1e8a1;
    --bad: #e09999;
  }

  svg {
    width: 100%;
    height: 100%;
    fill: var(--contrast);
  }
}
